<!--<?xml version="1.0" encoding="UTF-8"?>-->

<!--<!DOCTYPE hibernate-configuration PUBLIC-->
<!--        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
<!--        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->

<!--<hibernate-configuration>-->

<!--    <session-factory>-->

<!--        &lt;!&ndash; PostgreSQL Driver &ndash;&gt;-->
<!--        <property name="hibernate.connection.driver_class">-->
<!--            org.postgresql.Driver-->
<!--        </property>-->

<!--        &lt;!&ndash; Database URL &ndash;&gt;-->
<!--        <property name="hibernate.connection.url">-->
<!--            jdbc:postgresql://localhost:5432/home_service_db-->
<!--        </property>-->

<!--        &lt;!&ndash; Username &ndash;&gt;-->
<!--        <property name="hibernate.connection.username">-->
<!--            postgres-->
<!--        </property>-->

<!--        &lt;!&ndash; Password &ndash;&gt;-->
<!--        <property name="hibernate.connection.password">-->
<!--            postgres-->
<!--        </property>-->

<!--        &lt;!&ndash; PostgreSQL Dialect &ndash;&gt;-->
<!--        <property name="hibernate.dialect">-->
<!--            org.hibernate.dialect.PostgreSQLDialect-->
<!--        </property>-->

<!--        &lt;!&ndash; Show SQL in console &ndash;&gt;-->
<!--        <property name="hibernate.show_sql">-->
<!--            true-->
<!--        </property>-->

<!--        &lt;!&ndash; Format SQL &ndash;&gt;-->
<!--        <property name="hibernate.format_sql">-->
<!--            true-->
<!--        </property>-->

<!--        &lt;!&ndash; Automatically update tables &ndash;&gt;-->
<!--        <property name="hibernate.hbm2ddl.auto">-->
<!--            update-->
<!--        </property>-->

<!--        &lt;!&ndash; Entity Classes &ndash;&gt;-->
<!--        <mapping class="entity.Customer"/>-->
<!--        <mapping class="entity.Specialist"/>-->
<!--        <mapping class="entity.Manager"/>-->
<!--        <mapping class="entity.Order"/>-->
<!--        <mapping class="entity.Proposal"/>-->
<!--        <mapping class="entity.Review"/>-->
<!--        <mapping class="entity.Wallet"/>-->
<!--        <mapping class="entity.Service"/>-->

<!--    </session-factory>-->

<!--</hibernate-configuration>-->